.sceneName {
    width: 130px;
    margin: 20px auto 100px;
    padding: 8px 0;
    color: #fff;
    background-color: #b2b2b2;
    text-align: center;
    border-radius: 20px;
}
.deviceIcon {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
