@import 'SmartSlider';

.light-slider {
  margin: 0 auto;
}

.rc-slider-step {
    height: 0.06rem;
    background: -webkit-linear-gradient(left, #000,#fff);
    border-radius: 0.06rem;
}

.rc-slider-handle {
    margin-left: -0.075rem;
    margin-top: -0.095rem;
    width: 0.15rem;
    height: 0.25rem;
    border-radius: 0.15rem;
    border: 0.02rem solid #fff;
}

.rc-slider-handle:hover {
    border-color: #fff;
}

.rc-slider-rail,
.rc-slider-track {
    height: 0;
}

.sliderIcon {
    width: 0.24rem;
    height: 0.24rem;
}

.sliderLeftImg {
    position: absolute;
    left: 0;
    top: -0.04rem;
}

.sliderRightImg {
    position: absolute;
    right: 0;
    top: -0.04rem;
}
