.lightCtrlWrapper {
    height: 100%;
    background-color: #333;
    .textWrapper {
        padding: 0 15px;
        text-align: left;
        .close {
            width: 18px;
            padding: 32px 0 30px;
            margin: 0;
            color: #fff;
        }
        .text {
            margin-bottom: 93px;
            color: #fff;
            font-size: 12px;
            opacity: 0.6;
        }
        .titleChangeWrapper {
            position: relative;
            .title {
                display: inline-block;
                margin: 0;
                color: #fff;
                font-size: 21px;
            }
            .change {
                float: right;
                top: 0;
                margin: 0;
                color: #23C1B1;
                font-size: 16px;
            }
        }
    }
    .wheelWrapper {
        position: absolute;
        top: 190px;
        left: 50%;
        margin-left: -7.5em;
        .moon-slider {
            .moon-slider-button {
                width: 15px;
                height: 25px;
                top: -12.5px;
                border-radius: 15px;
                //box-sizing: content-box;
            }
        }
    }
    .brightness {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        .number {
            margin: 12px 0;
            color: #fff;
            font-size: 50px;
        }
        .lightText {
            margin: 0;
            color: #fff;
            font-size: 16px;
            opacity: 0.6;
        }
    }
    .lightSlider {
        margin: 30px 42px 46px;
    }
}

.slider .cover {
    background-color: #333;
}
